<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @library.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @library.desc %>
</p>

<p>
  <strong>Markdown:</strong>
  <%= @library.markdown %>
</p>

<p>
  <strong>User:</strong>
  <%= @library.user_id %>
</p>

<%= link_to 'Edit', edit_library_path(@library) %> |
<%= link_to 'Back', libraries_path %>
